/* Globals */

:root {

    /* Font variables */
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    --fw-regular: 400;
    --fw-bold: 700;

    /* Color variables */

    --text-blue: hsl(238, 29%, 16%); 
    --text-red: hsl(14, 88%, 65%);
    --text-dkblue: hsl(237, 12%, 33%);
    --text-vdkblue: hsl(240, 6%, 50%);

    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);

    --dividers: hsl(240, 5%, 91%);
}

/* Resets based on Josh Comeau's Modern CSS Resets */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
}

img, svg {
    display: block;
    width: 100%;
    height: auto;
}

/* General styling */

body {
    --spacing: 2rem;
    background-image: linear-gradient(var(--bg-violet), var(--bg-blue));
    padding-inline: var(--spacing);
    display: grid;
    place-content: center;
}

article {
    background-color: #fff;
    border-radius: var(--spacing);
    padding: calc(2 * var(--spacing)) var(--spacing);
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: top center;
    
}

.card img {
    max-width: 20rem;
}

.card img:first-child {
    display: none;
}

.card img:nth-child(2) {
    margin: auto;
    transform: translateY(-13rem);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.wrapper h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: var(--fw-bold);
}