:root {
    --text-color-blue: hsl(238, 29%, 16%);
    --text-color-red: hsl(14, 88%, 65%);

    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);

    --text-color-vd-gray-blue: hsl(237, 12%, 33%);
    --text-color-d-gray-blue: hsl(240, 6%, 50%);

    --dividers: hsl(240, 5%, 91%);

    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    --fw-bold: 700;
}

/* Resets based on Josh Comeau's Modern CSS resets:https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    min-height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2 {
    overflow-wrap: break-word;
}

/* Utilities */

/* General Styling */

body {
    background: linear-gradient(var(--bg-violet), var(--bg-blue));
    display: grid;
    grid-template-columns: 85%;
    place-content: center;
}

#faq {
    background-color: hsl(0, 0%, 100%);
    display: grid;
    gap: 2rem;
    border-radius: 2rem;
}

.faq__imgs > img {
    display: none;
}

.faq__imgs .img__wrapper {
    margin-top: -10rem;
}