.visibility-hidden:not(:focus):not(:active) {
    // clip: rect(0 0 0 0);
    // clip-path: inset(50%);
    // height: 1px;
    // width: 1px;
    // overflow: hidden;
    // position: absolute;
    // white-space: nowrap;
    display: none;
}

.bold-font {
    font-weight: var(--fw-bold);
    color: var(--text-dark-blue);
}

.rotate {
    transform: rotate(180deg);
}

