@use '../utilities' as *;

// FAQ styling

#faq {
    background-color: hsl(0 0% 100%);
    border-radius: rem(24);

    display: grid;
    place-content: center;
    grid-template-columns: 85%;
    padding-block: rem(24);

    &__imgs {
        display: none;
    }

    img:nth-child(1) {
        display: none;
    }

    
}