// Using Joch Comeau's Modern CSS Reset

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    height: 100vh;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, svg, picture {
    display: block;
    max-width: 100%;
}

p, h1, h2 {
    overflow-wrap: break-word;
}

